<?xml version="1.0" encoding="utf-8" ?>
<!--internalLogLevel 记录Nlog自身日志级别，正式环境改为Error
    autoReload="true" nlog.config配置文件修改，程序将会重新读取配置文件，也就是自动再配置
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/internal-nlog.txt">
	<!-- 启用.net core的核心布局渲染器 -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- 写入日志的目标配置 -->
	<targets>
		<!-- 文件形式记录调试日志  -->
		<target xsi:type="File" name="Debug" fileName="${basedir}/logs/debug-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<!-- 文件形式记录警告日志  -->
		<target xsi:type="File" name="Warn" fileName="${basedir}/logs/warn-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<!-- 文件形式记录错误日志  -->
		<target xsi:type="File" name="Error" fileName="${basedir}/logs/error-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<!-- 文件形式记录错误日志  -->
		<target xsi:type="File" name="Info" fileName="${basedir}/logs/info-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<!-- 文件形式记录错误日志  -->
		<target xsi:type="File" name="Trace" fileName="${basedir}/logs/trace-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	</targets>
	<!-- 映射规则 -->
	<rules>
		<!--跳过不重要的微软日志-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="Trace"/>
		<logger name="*" minlevel="Error" writeTo="Error" />
		<logger name="*" minlevel="Warn" writeTo="Warn"/>
		<logger name="*" minlevel="Info" writeTo="Info"/>
		<logger name="*" minlevel="Debug" writeTo="Debug" />
	</rules>
</nlog>